/* Make button big */

button{
    padding: 12px 24px;
    font-size: 16px;
    width: 500px;
    margin-top: 20px;
    cursor: pointer;
    height: inherit;
    background-color: lightpink;
}

input{
    width: 100px;
    height: 40px;
    font-size: 16px;
    margin-top: 0px;
}

#container { 
    height:960px; 
    width:960px; position: relative; top: 30px; outline:5px solid black; font-size: 0; margin:auto; 
    position: relative; 
    top: 30px; 
    outline:5px solid black; 
    font-size: 0; 
    margin-top: 0;
    margin-left: auto; 
    margin-right: auto; 
} 

.grid { 
    outline:1px solid black; 
    display:inline-block; 
}


/* make the container's position relative so you can set it from top 30 px */
/* Treat all text in here as having no font size even the space” */


/* by default : display: block;, Each <div> takes up the full width of its parent container a <div> with display: block still starts a new line each time. */
/* Keep behaving like a block (respect width and height) but sit side by side with others, like text characters. so the block is not block that takes the whole line, it is treated as inline-block */
/* outline instead doesn’t change the box size */